.Rhistory
.Rapp.history
.RData
/*.DS_Store
*-Ex.R
/*.tar.gz
/*.Rcheck/
*.Rproj
vignettes/*.html
vignettes/*.pdf
 .httr-oauth
/*_cache/
/cache/
*.utf8.md
*.knit.md
*.html
rsconnect/
.Rproj.user
inst/doc
docs
